@charset "utf-8";
@import "mediaquery.scss";
@import "mixin.scss";
@import "variable.scss";

@include phone {

html, body {
    background: url(http://photos-g.ak.instagram.com/hphotos-ak-xaf1/10401648_1443102002610782_1383891241_n.jpg) no-repeat center fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

main.content {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
}

a.link {
	@include link;
}

div.enter {
	background-color: #383838;
	@include box-shadow;
	border-radius: 100%;
	box-shadow: -2px  0px 20px 0px  rgba(#383838, 0.4);
	opacity: 0.9;
	margin: 0 auto;
	padding: 0;
	width: 130px;
	height: 130px;
	cursor: pointer;
}

i.fa {
	position: absolute;
	top: 50%;
	right: 50%;
	margin-top: -40px;
	margin-right: -28px;
	color: $colorFuchs;
}

}