@charset "utf-8";
@import "mediaquery.scss";
@import "mixin.scss";
@import "variable.scss";

@include phone {

html, body {
    background: url(../img/https://lh6.googleusercontent.com/dqewLy-8T2dz7IMkjcGOHCO7Uj8pPFuthUehCeetVzPBoaW7o9LbHiZH_oUXIqqY2KhKWgE71AE=w1342-h523) no-repeat center fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

main.content {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
}

a.link {
	@include link;
}

div.enter {
	background-color: $colorFuchs; //IMG
	border-bottom: 1px solid $colorFuchsBorder;
	@include box-shadow; //Ver un degradado
	border-radius: 2px;
	margin: 0 auto;
	padding: 0;
	opacity: 0.9;
	width: 100px;//Sera auto cuando le introduzca la img
	height: 50px;//Sera auto cuando le introduzca la img
}

}